* {
  user-select: none;
  box-sizing: border-box;
  margin: 0;


}

*::-webkit-scrollbar {
  display: none;
}

body>div{
  width: 100vw; height: 100vh;
  overflow: scroll;
  user-select: none;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

h1 {
  font-family: "Baloo 2";
  font-size: 100px;
  color: white;
}

h2 {
  font-family: "Baloo 2";
  font-size: 82px;
  line-height: 99%;
  color: white;
}

h3 {
  font-family: "acumin-pro";
   font-weight: normal;
   line-height: 107%;
  font-size: 28px;
  color: white;
}

h4 {
  font-family: "acumin-pro";
  font-weight: normal;
  font-size: 24px;
  color: white;
}

button {
  font-family: "acumin-pro";
  font-weight: normal;
  font-size: 32px;
  color: white;
  border-color: white;
  border-radius: 60px;
  text-decoration: none;
  background-color: transparent;
  border-style: solid;
  padding: 0.2em;
  padding-left: 1.7em;
  padding-right: 1.7em;
  margin-top: 5vh;
  transition:  all .2s ease-in-out;
}

button:hover{
  transform: scale(110%);
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

#sfondo {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(-45deg, #FFBE0B, #F30058, #7B40E3, #5B8EF7);
  background-size: 200% 100%;
  animation: gradient 15s ease infinite;
  position: fixed;
}

.schermata {
  width: 100vw;
  height: 100vh;
  position: relative;
  scroll-snap-align: center;

}

#menu {
  background-color: #5b8ef7;
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 1001;
  display: none;
}

#menu h2 {
  padding-top: 5vh;
  transition:  all .2s ease-in-out;

}

#menu h2:hover {
  transform: scale(110%);
}

#menuCont {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.topBar {
  width: 100vw;
  height: 10vh;
  position: fixed;
  display: flex;
  justify-content: space-between;
  flex-flow: row;
  align-items: center;
  z-index: 1000;
}

.topBar>* {
  margin: 1vw;
  cursor: pointer;
}

/* impostazioni delle singole schermate --------------------------- */
#home1 {
  background: url(assets/animazioneHome1.gif);
  background-repeat: no-repeat;
  background-size: contain;
  background-position:bottom center;
  transition: height 1.5s;
}

#home2 {
  background: url(assets/illustrazioneHome2.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position:bottom right;
}

#home2 * {
  margin-left: 10vw;
  max-width: 45vw;
}

#home2 a {
  margin-left: 0
}

#home2 h1 {
  padding-top: 20vh; max-width: 60vw;
}
#home2 h3 {margin-top: 0vh;}

/* SCHERMATA CON LE SLIDE ____________________________________ */
#home3 {
  overflow-x: scroll;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#home3 div {
  position: relative;
  display: inline-block;
  background-color: white;
  min-width: 100vw;
  height: 70vh;
}

#home3 h2 {
  padding-top: 10vh;
}

#home3 h3 {
  padding-top: 2vh;
}
.slide * {
  color: black;
}

.slide>* {
  margin-left: 15vw;
  max-width: 50vw;
}

.slide button {
  color: black;
  border-color: black;
}

#home3 img {
  position: absolute;
  margin: 1vw;
  top: 30vh;
  transition:  all .2s ease-in-out;

}

#home3 img:hover {cursor:pointer;
  transform: scale(110%);
}

#slide1 {
  background: url(assets/slide1.png);
  background-position:bottom right;
  background-repeat: no-repeat;
}

#slide2 {
  background: url(assets/slide2.png);
  background-position:bottom right;
  background-repeat: no-repeat;
}

#slide3 {
  background: url(assets/slide3.png);
  background-position:bottom right;
  background-repeat: no-repeat;
}

/* SCHERMATA del VIDEO ____________________________________ */
#home4 {display: flex; align-items: center; justify-content: center;s}

  #video{background-color: black;
   width:70vw; height: 38vw;}

/* SCHERMATA del SCARICA ____________________________________ */
#home5 {
  background: url(assets/scaricasmall.png);
  background-position:bottom 20vh left 0;
  background-repeat: no-repeat;

}

.schermataConFooterContainer {
  padding-top: 20vh;
  margin-left: 40vw
}

.schermataConFooterContainer button {
  margin-right: 1vw;
}

.footerContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-top: 1vh;
  padding-left: 15vw;
  padding-right: 10vw;
  height: 16vh;
}

footer {
  position: absolute;
  bottom: 0px;
  color: White;
  font-family: "acumin-pro";
  font-size: 16px;
  width: 100vw;
  height: 20vh;
  background-color: #242424;
}

.line {
  background-color: White;
  height: 2px;
}

.flexColumn {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.flexRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.firstScopri {
  flex-direction: row;
  position: relative;
}

/* PAGINE SCOPRI ___________________________________________________________________ */
#scopri1 {
  background: url(assets/scopri1.png);
  background-position:bottom right;
  background-repeat: no-repeat;
}

#scopri1 h2 {
  padding-top: 30vh;
  padding-bottom: 2vh;
}

#scopri1 * {
  width: 50vw;
  margin-left: 10vw;
}

#scopri2 {
  display: flex;
  justify-content: space-around;
}

#scopri2 * {
  text-align: center;
  max-width: 30vw;
  margin-top: 2vh;
}
#scopri2 h3 {margin-top: -5vh; font-size: 60px;}

#scopri2 div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#scopri2 img {
  margin-top: 10vh;
  width: 30vw;
  height: 30vw;
}

#scopri3 {
  display: flex; align-items: center;
}

#scopri3 div {
  width: 40vh;
  height: 90vh;

  margin-left: 30vw;
  background-image: url(assets/mockupCell1.png);
  background-size: 40vh auto;
  background-repeat: no-repeat;
}
#scopri3 h2  {
  line-height: 8vh;
  height: 8vh;
  font-family: "acumin-pro";
  font-size: 42px;
  transition: font-size 0.5s ease;
}

#scopri3 h2:hover {font-size: 48px}

#scopri3 input:checked + label>h2 {font-size: 56px}
#scopri3 input {display: none}



#scopri4 {
  display: flex; align-items: center;




}

#scopri4 div {
  width: 40vw;
  height: 26vw;
  background: url(assets/mockupPc1.png);
  background-repeat: no-repeat;
  background-size: 40vw;
  margin-left: 20vw;
}
#scopri4 h2  {
  line-height: 8vh;
  height: 8vh;
  font-family: "acumin-pro";
  font-size: 42px;
  transition: font-size 0.5s ease;
}

#scopri4 h2:hover {font-size: 48px}

#scopri4 input:checked + label>h2 {font-size: 56px}
#scopri4 input {display: none}


#scopri5 {
  background: url(assets/scaricasmall.png);
  background-position:bottom 20vh left 0;
  background-repeat: no-repeat;
}


/* PAGINE TEST ___________________________________________________________________ */
#test1 {
}
#sfondoTest1{position: absolute;width: 100vw; height: 100vh; background: url(assets/AnimazioneTest1FHD.gif); background-position: bottom center}

#test1{opacity: 0; transition: opacity 2s}

#test1 h2 {
  font-size: 63px;
  margin-left: 20vw;
  margin-right: 20vw;
  padding-top: 40vh;
  text-align: center;
}

#test1 div {
  display: flex;
  justify-content: center;
}

#test1 button {
  margin: 2vw;
  margin-top: 3vh;
  margin-bottom: 10vh;
}
#contatore div {
  width: 20px;
  height: 20px;
  border-style: solid;
  border-color: white;
  margin: 5px;
  border-radius: 20px
}

#test1 input::placeholder {font-size:36px; color: white; }
#test1 input {width: 100%; height: 100%; font-size: 36px; border-width: 0}
#test1 input:focus { border-width: 0;}

/* Viewport: Iphone SE Portrait ( 375 x 667 px ) */
@media only screen and (device-width: 375px) and (device-height: 667px) {

h1{font-size: 44px; line-height: 90%}
h2{font-size:40px;}
h3{font-size:18px;}
h4{font-size:12px;}
button{font-size:20px; padding-left:1em; padding-right: 1em}
footer{display: none;}


.topBar>* {margin: 2vw}
.topBar>img {height: 4vh;}
.topBar img:first-child  {height: 8vh;}

#home2 h2 {padding-top: 25vh;}
#home2 h3 {margin-top: 2vh; max-width: 80vw;}
#home2 {background-size: 150vw;}
#home2 button {margin-top:2vh;}

#home3 img {width: 10vw}
#home3 .slide * {margin-left: 10vw; max-width: 80vw;}
#home3 .slide button {margin-left: 0px;}
#home3 img {display: none;}
#home3 .slide {background-size: 150vw;}


#home5 {background-position:bottom 0 left 0;background-size: 200vw;}
.schermataConFooterContainer{
  margin-left: 10vw;
}
#home5 button {margin-top:2vh; display: block;}

/*sezione scopri ------------------------------------------------------------------ */
#scopri1 {background: url(assets/scopri1v2.png); background-size: 100vw; }
#scopri1 h2 {padding-top: 15vh;}
#scopri1 * {width: 80vw;}


#scopri2 {display: flex; flex-direction: column; align-items: center; justify-content: center;}
#scopri2 *  {max-width: 80vw; margin-top: 1vh;}
#scopri2 img{width: 50vw; height: 50vw;margin-top: 0vh;}

/*---------------------------------------------------------------*/

#scopri3 {flex-direction: column; justify-content: center;}
#scopri3 div {
  background-size: 40vw;
  margin-top: 5vh;
 margin-left: 0vw;
 width: 40vw;
 height: 90vw;
}

#scopri3 ul {
  margin-top: 3vh;
  margin-left: 0vw;
  padding:0px;
}

#scopri3 h2  {
  text-align: center;
  line-height: 6vh;
  height: 6vh;
  font-family: "acumin-pro";
  font-size: 20px;
  transition: font-size 0.5s ease;
}

#scopri3 h2:hover {font-size: 25px}

#scopri3 input:checked + label>h2 {font-size: 30px}


/*-----------------------------------------------------------*/

#scopri4{
  flex-direction: column;

  justify-content: center;
}

#scopri4 input:checked + label>h2 {font-size: 30px}

#scopri4 div {
  background-size: 80vw;
 width: 80vw;
 height: 50vw;
 margin-left: 0vw;
 margin-bottom: 5vw;

}

#scopri4 ul {
  margin-left: 0vw;
  padding:0px;
}



#scopri4 h2  {
  text-align: center;
  line-height: 5vh;
  height: 5vh;
  font-family: "acumin-pro";
  font-size: 20px;
  transition: font-size 0.5s ease;
}

#scopri4 h2:hover {font-size: 25px}






/*-----------------------------------------------------------*/

#scopri5 {background-size: 200vw; background-position:bottom 0 left 0;}
.schermataConFooterContainer{
  margin-left: 10vw;
}
#scopri5 button {margin-top:2vh; display: block;}

/*sezione test ------------------------------------------------------------------ */
#sfondoTest1 {background: url(assets/AnimazioneTest1SE.gif); background-repeat: no-repeat; background-position: center bottom;}
#test1 h2 {font-size: 32px; margin-bottom: 5vw; margin-left: 5vw; margin-right: 5vw;}
#test1 button{margin-top: 2vh; margin-bottom: 0vh; font-size: 18px;}
#contatore div {width: 3vw; height: 3vw; margin: 1px; margin-top: 8vh; }
#test1 input::placeholder {font-size:18px;}
#test1 input { font-size: 18px;}

}

/* Viewport: Iphone 12 PRO Portrait ( 390 x 844 px ) */
@media only screen and (device-width: 390px) and (device-height: 844px) {


  h1{font-size: 80px; line-height: 100%}
  h2{font-size:40px;}
  h3{font-size:18px;}
  h4{font-size:12px;}
  button{font-size:20px;}
  footer{display: none;}


  .topBar>* {margin: 4vw}
  .topBar>img {height: 3vh;}
  .topBar img:first-child  {height: 6vh;}


  #home2 h3 {margin-top: 5vh; max-width: 80vw;}
  #home2 {background-size: 150vw;}
  #home2 button {margin-top:2vh;}

  #home3 img {width: 10vw}
  #home3 .slide * {margin-left: 10vw; max-width: 80vw;}
  #home3 .slide button {margin-left: 0px;}
  #home3 img {display: none;}
  #home3 .slide {background-size: 200vw; background-position: bottom 0 right -20vw;}
  #home3 .slide:last-child {background-position: bottom 0 right -35vw;}

  #home5 {background-position:bottom 0 left 0;background-size: 200vw;}
  .schermataConFooterContainer{
    margin-left: 10vw;
  }
  #home5 button {margin-top:2vh; display: block;}

  /*sezione scopri ------------------------------------------------------------------ */
  #scopri1 {background: url(assets/scopri1v2.png); background-size: 120vw; background-position: center bottom; background-repeat:no-repeat;
  }

  #scopri1 h2 {padding-top: 15vh;}
  #scopri1 * {width: 80vw;}


  #scopri2 {display: flex; flex-direction: column; align-items: center; justify-content: center;}
  #scopri2 *  {max-width: 80vw; margin-top: 1vh;}
  #scopri2 img{width: 50vw; height: 50vw;margin-top: 3vh;}

  /*---------------------------------------------------------------*/

  #scopri3 {flex-direction: column; justify-content: center;}
  #scopri3 div {
    background-size: 40vw;
    margin-top: 5vh;
   margin-left: 0vw;
   width: 40vw;
   height: 90vw;
  }

  #scopri3 ul {
    margin-top: 3vh;
    margin-left: 0vw;
    padding:0px;
  }

  #scopri3 h2  {
    text-align: center;
    line-height: 6vh;
    height: 6vh;
    font-family: "acumin-pro";
    font-size: 20px;
    transition: font-size 0.5s ease;
  }

  #scopri3 h2:hover {font-size: 25px}

  #scopri3 input:checked + label>h2 {font-size: 30px}


  /*-----------------------------------------------------------*/

  #scopri4{
    flex-direction: column;

    justify-content: center;
  }

  #scopri4 input:checked + label>h2 {font-size: 30px}

  #scopri4 div {
    background-size: 80vw;
   width: 80vw;
   height: 50vw;
   margin-left: 0vw;
   margin-bottom: 5vw;

  }

  #scopri4 ul {
    margin-left: 0vw;
    padding:0px;
  }



  #scopri4 h2  {
    text-align: center;
    line-height: 5vh;
    height: 5vh;
    font-family: "acumin-pro";
    font-size: 20px;
    transition: font-size 0.5s ease;
  }

  #scopri4 h2:hover {font-size: 25px}



  /*-----------------------------------------------------------*/

  #scopri5 {background-size: 200vw; background-position:bottom 0 left 0;}
  .schermataConFooterContainer{
    margin-left: 10vw;
  }
  #scopri5 button {margin-top:2vh; display: block;}

  /*sezione test ------------------------------------------------------------------ */
  #sfondoTest1{background: url(assets/AnimazioneTest112.gif); background-repeat: no-repeat; background-position: center bottom;}
  #test1 h2 {font-size: 32px; margin-bottom: 5vw; margin-left: 5vw; margin-right: 5vw;}
  #test1 button{margin-top: 2vh; margin-bottom: 0vh; font-size: 18px;}
  #contatore div {width: 3vw; height: 3vw; margin: 1px; margin-top: 8vh; }
  #test1 input::placeholder {font-size:18px;}
  #test1 input { font-size: 18px;}


}

/* Viewport: Ipad Mini Portrait ( 768 x 1024 px ) */
@media only screen and (device-width: 768px) and (device-height: 1024px) {


    h1{font-size: 110px; line-height: 100%}
    h2{font-size:72px;}
    h3{font-size:24px;}
    h4{font-size:12px;}
    button{font-size:22px;}
    footer{display: none;}

    .topBar {margin-top: 1vh;}
    .topBar>* {margin: 2vw}
    .topBar>img {height: 4vh;}
    .topBar img:first-child  {height: 7vh;}

    #home2 * {max-width: 80vw;}
    #home2 h1{max-width: 80vw;}
    #home2 h2 {padding-top: 15vh;}
    #home2 h3 {margin-top: 0vh; max-width: 45vw;}
    #home2 {background-size: 150vw;}
    #home2 button {margin-top:3vh;}

    #home3 img {width: 10vw}
    #home3 .slide * {margin-left: 10vw; max-width: 45vw;}
    #home3 .slide button {margin-left: 0px;}
    #home3 img {display: none;}
    #home3 .slide h2 {padding-top: 5vh; max-width:70vw;}
    #home3 button {margin-top: 2vh;}
    #home3 .slide {background-size: 170vw; background-position: bottom 0 right -15vw;}
    #home3 .slide:last-child {background-position: bottom 0 right -25vw;}

    #home5 {background-position:bottom 0 left 0;background-size: 200vw;}
    .schermataConFooterContainer{
      margin-left: 10vw;
      padding-top: 20vh;
    }

    #home5 button {margin-top:2vh; display: inline;}

    /*sezione scopri ------------------------------------------------------------------ */
    #scopri1 {background: url(assets/scopri1v2.png); background-size: 100vw; background-position: bottom -10vh center; background-repeat: no-repeat;}
    #scopri1 h2 {padding-top: 15vh;}
    #scopri1 * {width: 80vw;}


    #scopri2 {display: flex; flex-direction: column; align-items: center; justify-content: center;}
    #scopri2 *  {max-width: 80vw; margin-top: 1vh;}
    #scopri2 img{width: 50vw; height: 50vw;margin-top: -5vh;}
    #scopri2 h4{font-size: 22px;}

    /*---------------------------------------------------------------*/

    #scopri3 div {
     margin-left: 10vw;
     width: 50vw;
     height: 100vw;
     background-size: 50vw 100vw;
    }



    #scopri3 ul {
      margin-left: 5vw;
      padding:0px;
    }

    #scopri3 h2  {
      line-height: 8vh;
      height: 8vh;
      font-family: "acumin-pro";
      font-size: 22px;
      transition: font-size 0.5s ease;
    }

    #scopri3 h2:hover {font-size: 25px}

    #scopri3 input:checked + label>h2 {font-size: 30px}
    /*-----------------------------------------------------------*/

    #scopri4{
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      align-items: center;
    }

    #scopri4 div {
     width: 90vw;
     height: 60vw;
     margin-top: 5vh;
     margin-left: 0;

     background-size: 90vw;

    }

    #scopri4 ul {
      padding:0px;
      margin-left: 0;
    }



    #scopri4 h2  {
      line-height: 5vh;
      height: 5vh;
      font-family: "acumin-pro";
      margin-left: 0;
      font-size: 20px;
      transition: font-size 0.5s ease;
      text-align: center;
    }

    #scopri4 h2:hover {font-size: 25px}
    #scopri4 input:checked + label>h2 {font-size: 30px}






    /*-----------------------------------------------------------*/
    #scopri5 {background-position:bottom 0 left 0;background-size: 200vw;}
    .schermataConFooterContainer{
      margin-left: 10vw;
      padding-top: 20vh;
    }

    #scopri5 button {margin-top:2vh; display: inline;}

    /*sezione test ------------------------------------------------------------------ */
    #sfondoTest1 {background: url(assets/AnimazioneTest1IPADVER.gif); background-repeat: no-repeat; background-position: center bottom;}
    #test1 h2 {font-size: 44px; margin-bottom: 5vw; margin-left: 5vw; margin-right: 5vw;}
    #test1 button{margin-top: 2vh; margin-bottom: 0vh; font-size: 18px;}
    #contatore div {width: 2vw; height: 2vw; margin: 5px; margin-top: 8vh; }
   #test1 input::placeholder {font-size:18px;}
   #test1 input { font-size: 18px;}
}

  /* Viewport: Ipad Mini Landscape ( 1024 x 768 px ) */
  @media only screen and (device-width: 1024px) and (device-height: 768px) {

        h1{font-size: 110px; line-height: 100%}
        h2{font-size:72px;}
        h3{font-size:24px;}
        h4{font-size:12px;}
        button{font-size:22px;}
        footer{display: none;}

        .topBar {margin-top: 1vh;}
        .topBar>* {margin: 2vw}
        .topBar>img {height: 4vh;}
        .topBar img:first-child  {height: 7vh;}

        #home2 * {max-width: 60vw;}
        #home2 h2 {padding-top: 15vh;}
        #home2 h3 {margin-top: 0vh;}
        #home2 {background-size: 100vw;}
        #home2 button {margin-top:3vh;}

        #home3 img {width: 10vw}
        #home3 .slide * {margin-left: 10vw; max-width: 45vw;}
        #home3 .slide button {margin-left: 0px;}
        #home3 img {display: none;}
        #home3 .slide h2 {padding-top: 5vh; max-width:55vw;}
        #home3 button {margin-top: 2vh;}
        #home3 .slide {background-size: 130vw; background-position: bottom 0 right -15vw;}
        #home3 .slide:last-child {background-position: bottom 0 right -25vw;}


        #home5 {background-position:bottom 0 right -90vw;background-size: 150vw;}
        .schermataConFooterContainer{
          margin-left: 10vw;
          margin-right: 30vw;
          padding-top: 15vh;
        }

        #home5 button {margin-top:2vh; display: inline;}

        /*sezione scopri ------------------------------------------------------------------ */
        #scopri1 {background-size: auto 100vh; background-position: bottom center; background-repeat: no-repeat;}
        #scopri1 h2 {padding-top: 15vh;}
        #scopri1 * {width: 50vw; margin-left: 5vw}
        #scopri1 h3 {width: 60vw;}


        #scopri2 {display: flex; align-items:flex-start;; justify-content: space-around;}
        #scopri2 *  {max-width: 40vw; margin-top: 1vh;}
        #scopri2 img{width: 40vw; height: 40vw;margin-top: 10vh;}
        #scopri2 h4{font-size: 16px;}

        /*---------------------------------------------------------------*/

        #scopri3 div {
        margin-top: 5vh;
         margin-left: 20vw;
         width: 40vh;
         height: 80vh;
         background-size:40vh 80vh;
        }



        #scopri3 ul {
          margin-left: 5vw;
          padding:0px;
        }

        #scopri3 h2  {
          line-height: 5vh;
          height: 5vh;
          font-family: "acumin-pro";
          font-size: 22px;
          transition: font-size 0.5s ease;
        }

        #scopri3 h2:hover {font-size: 25px}

        #scopri3 input:checked + label>h2 {font-size: 30px}
        /*-----------------------------------------------------------*/

        #scopri4{
          align-items: flex-start;
          justify-content: center;
          align-items: center;
        }

        #scopri4 div {
         width: 60vw;
         height: 40vw;
         margin-right: 0vw;
         margin-left: 0;
         background-size: 60vw;

        }

        #scopri4 ul {
          width: 25vw;
          padding:0px;
          margin-left: 0;
        }



        #scopri4 h2  {
          line-height: 5vh;
          height: 5vh;
          font-family: "acumin-pro";
          margin-left: 0;
          font-size: 20px;
          transition: font-size 0.5s ease;

        }

        #scopri4 h2:hover {font-size: 25px}
        #scopri4 input:checked + label>h2 {font-size: 30px}






        /*-----------------------------------------------------------*/
        #scopri5 {background-position:bottom 0 right -90vw;background-size: 150vw;}


        #scopri5 button {margin-top:2vh; display: inline;}


        /*sezione test ------------------------------------------------------------------ */
        #sfondoTest1 {background: url(assets/AnimazioneTest1IPADOR.gif); background-repeat: no-repeat; background-position: center bottom;}
        #test1 h2 {font-size: 40px; margin-bottom: 5vw; margin-left: 5vw; margin-right: 5vw;}
        #test1 button{margin-top: 2vh; margin-bottom: 0vh; }
        #contatore div {width: 2vw; height: 2vw; margin: 3px; margin-top: 8vh; }
        #test1 input::placeholder {font-size:22px;}
        #test1 input { font-size: 22px;}

  }

  /* Viewport: Desktop Full HD ( 1920 x 1080 px ) */
  @media only screen and (device-width: 1920px) and (device-height: 1080px) {}
